*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma,Arial;
}
.contanier{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee ;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}
.hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}
.hangman-draw .the-stand{
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-hang::before{
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-hang::after{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 30px;
    left: 130px;
    top: 15px;
}
.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: 4px dashed #222;
    display: none;
}
.hangman-draw .the-man .head{
    width: 50px;
    height: 50px;
    position: absolute;
    border: 4px solid #222;
    border-radius: 50%;
    left: 105px;
    top: 55px;
    display: none;
}
.hangman-draw .the-man .body{
    width: 4px;
    height: 110px;
    position: absolute;
    background-color: #222;
    left: 130px;
    top: 102px;
    display: none;
}
.hangman-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .hands::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 140px;
}
.hangman-draw .the-man .hands::before{
    left: 85px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after{
    left: 130px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs{
    display: none;
}
.hangman-draw .the-man .legs::before,
.hangman-draw .the-man .legs::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 221px;
}
.hangman-draw .the-man .legs::before{
    left: 85px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .legs::after{
    left: 130px;
    transform: rotate(30deg);
}
.hangman-draw.wrong-1 .the-draw{
    display: block;
}
.hangman-draw.wrong-2 .the-stand{
    display: block;
}
.hangman-draw.wrong-3 .the-hang{
    display: block;
}
.hangman-draw.wrong-4 .the-rope{
    display: block;
}
.hangman-draw.wrong-5 .head{
    display: block;
}
.hangman-draw.wrong-6 .body{
    display: block;
}
.hangman-draw.wrong-7 .hands{
    display: block;
}
.hangman-draw.wrong-8 .legs{
    display: block;
}

.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
}
.letters.finished{
    pointer-events: none;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    background-color: #009688;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.letters .letter-box.clicked{
    background-color: #222;
    opacity: .2;
    pointer-events: none;
}
.letters-guess{
    margin: 10px auto;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #222;
    margin-right: 10px;
    transition: .3s;
}
.letters-guess span.with-space{
    background-color: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.with-space::before{
    content: '';
    width: 20px;
    height: 4px;
    position: absolute;
    background-color: #222;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Popup{
    position: fixed;
    background-color: #e91e63;
    width: 80%;
    text-align: center;
    padding: 100px 20px;
    font-size: 40px;
    border: 1px solid #ccc;
    color: #fff;
    top: 20%;
    left: 10%;
}
.pop{
    position: fixed;
    background-color: green;
    width: 80%;
    text-align: center;
    padding: 100px 20px;
    font-size: 40px;
    border: 1px solid #ccc;
    color: #fff;
    top: 20%;
    left: 10%;
}
@media only screen and (max-width: 550px){
    .row{
        display: grid;
    }
    .hangman-draw .the-draw{
        grid-template-rows: 1fr;
    }
    .letters{
        grid-template-rows: 1fr;
    }
}
#btn{
    display: flex;
    padding: 10px;
    margin: 20px auto;
    background-color: #09f128;
    border: none;
    border-radius: 70%;
    cursor: pointer;
}